<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetroPieGamelistCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <RetroPieGamelistCleaner.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>retropie</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>pi</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>raspberry</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value>/home/pi/RetroPie/roms</value>
            </setting>
            <setting name="g" serializeAs="String">
                <value />
            </setting>
        </RetroPieGamelistCleaner.Properties.Settings>
    </applicationSettings>
</configuration>
